<% if @recipe.errors.any? %>
  <div class="alert alert-primary" role="alert">
    <h2>
      <%= pluralize(@recipe.errors.count, "error") %>
      prohibited this recipe from being saved:
    </h2>
 
    <ul>
    <% @recipe.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>




<%= form_for(@recipe) do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <br>
    <div>
      <%= f.label :servings %>
      <%= f.number_field :servings %>
    </div>
    <br>
    <div>
      <%= f.label "Time in minutes" %>
      <%= f.number_field :time %>
    </div>
    <br>
    <div>
      <p>Check the ingredients needed:</p>
      
      <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>
      <p>If you do not see an ingredient you want to select, add the ingredient(s) below:</p>
      <%= f.fields_for :ingredients do |ing_fields| %>
        <%= ing_fields.label :name, "Ingredient" %>
        <%= ing_fields.text_field :name %>
      <% end %>
    </div>
    <br>
    <div>
      <%= f.label :directions %>
      <%= f.text_area :directions %>
    </div>
    <br>  
    <%= f.submit %>
  <% end %>