<h1>Add a recipe</h1>

<%= form_for(@recipe) do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <br>
  <div>
    <%= f.label :servings %>
    <%= f.number_field :servings %>
  </div>
  <br>
  <div>
    <%= f.label "Time in minutes" %>
    <%= f.number_field :time %>
  </div>
  <br>
  <div>
    <p>
      Check the ingredients needed:
    </p>
    <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>
  </div>
  <br>
  <div>
    <%= f.label :directions %>
    <%= f.text_area :directions %>
  </div>
  <br>  
  <%= f.submit "Add" %>
<% end %>