<h1><%= @recipe.name %></h1>

<%= render partial: 'recipe', locals: {recipe: @recipe} %>

<% if @recipe.user.id == current_user.id %>
  <div>
    <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
  </div>
  <div>
    <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" } %>
  </div>
<% else %>
  <p><%= link_to "Write a review", new_recipe_review_path(@recipe.id) %><p>
<% end %>

<p>Reviews</p>
<% @recipe.reviews.each do |rev| %>
  <div>
    <p><%= rev.user.name %></p>
    <p>Number of Stars: <%= rev.rating %></p>
    <p><%= rev.content %></p>
  </div><br>
<% end %>
