<h1><%= @recipe.name %></h1>

<div>
  <p>Servings: <%= @recipe.servings %></p>
</div>

<div>
  <p>Time Needed: <%= @recipe.time %> minutes</p>
</div>

<div>
  <p>Ingredients:</p>
  <% @recipe.ingredients.each do |ing| %>
    <ul>
      <%= ing.name %>
    </ul>
  <% end %>  
</div>

<div>
  <p>Directions:</p>
  <%= @recipe.directions %>
</div>
<br>
<div>
  <%= link_to "Edit this recipe", edit_recipe_path(@recipe) %>
</div>
<div>
  <%= link_to "Delete this recipe", recipe_path(@recipe), method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" } %>
</div>