<%= render 'layouts/logged_in_or_not' %>

<% if @user.errors.any? %>
  <div class="alert alert-primary" role="alert">
    <h2>
      <%= pluralize(@user.errors.count, "error") %>
      prevented you from signing up:
    </h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<h1>Sign up!</h1>

<%= form_for(@user) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Sign up" %>

<% end %>