<%= render 'layouts/flash_messages' %>

<h1><%= @user.name %>'s profile</h1>
<br>

<h4>Recipes Created by <%= @user.name %></h4>
<% if @user.recipes.present? %>
  <ul>
    <% @user.recipes.each do |rec| %>
      <li><%= link_to rec.name, recipe_path(rec) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No recipes created yet.</p>
<% end %>

<h4>Recipes Reviewed by <%= @user.name %></h4>

<% if @user.reviews.present? %>
  <ul>
    <% @user.reviews.each do |review| %>
      <li><%= link_to review.recipe.name, user_review_path(review.user, review) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews posted yet.</p>
<% end %>
