<%= render 'layouts/flash_messages' %>

<h1><%= @user.name %>'s profile</h1>
<br>

<h4>Recipes Created by <%= @user.name %></h4>
<% if @user.recipes.present? %>
  <ul>
    <% @user.recipes.each do |rec| %>
      <li><%= link_to rec.name, recipe_path(rec) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No recipes created yet.</p>
<% end %>

<h4>Recipes Reviewed by <%= @user.name %></h4>

<% if @user.reviewed_recipes.present? %>
  <ul>
    <% @user.reviewed_recipes.each do |rev_rec| %>
      <li><%= link_to rev_rec.name, recipe_path(rev_rec) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No reviews posted yet.</p>
<% end %>
