<%= form_for(@review) do |f| %>
  <%= f.hidden_field :recipe_id %>
  <div>
    <%= f.label :rating %>
    <%= f.number_field :rating %>
  </div><br>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div><br>
  <div>
    <%= f.submit %>
  </div>
<% end %>