<% if review.errors.any? %>
  <div class="alert alert-primary" role="alert">
    <h2>
      <%= pluralize(review.errors.count, "error") %>
      prevented this review from being saved:
    </h2>
 
    <ul>
    <% review.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_for(review) do |f| %>
  <%= f.hidden_field :recipe_id %>
  <%= f.hidden_field :user_id %>
  <div>
    <%= f.label "Rating out of 5 stars" %><br>
    <%= f.number_field :rating %>
  </div><br>
  <div>
    <%= f.label :content %><br>
    <%= f.text_area :content, cols: 60, rows: 6 %>
  </div><br>
  <div>
    <%= f.submit %>
  </div>
<% end %>