<!DOCTYPE html>
<html>
  <head>
    <title>SaveTheFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <!-- Links in navbar not working yet -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <%= link_to "Save-the-Food", root_path, class: "navbar-brand" %> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Recipes", recipes_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <% if logged_in? %>
              <%= link_to "Logout", logout_path, class: "nav-link" %>
            <% else %>
              <%= link_to "Login", login_path, class: "nav-link" %>
            <% end %>
          </li>
          </ul>
      </div>
    </nav>

    
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
