<!DOCTYPE html>
<html>
  <head>
    <title>SaveTheFood</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <%= link_to "Save-the-Food", root_path, class: "navbar-brand" %> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Recipes
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <%= link_to "All Recipes", recipes_path, class: "dropdown-item" %>
              <%= link_to "Add a Recipe", new_recipe_path, class: "dropdown-item" %>
            </div>
          </li>


          <% if logged_in? %>
            <li class="nav-item">
              <%= link_to "Your Profile", user_path(current_user.id), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Logout", logout_path, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Signup", signup_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Login", login_path, class: "nav-link" %>
            </li>
          <% end %>
          </ul>
      </div>
    </nav>

    
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
